/* .galleryDisplay {
    display: grid;
    padding: 10px;
    width:450px;
    grid-column:auto;
} */

.galleryDisplay {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    width:90%;
    padding: 10px;
} 

/* .galleryDisplay {
    padding: 10px;
    justify-items: center;
    width:500px;
    flex: 50%;
    max-width:50%;
} */

/* .galleryDisplay {
    display: grid;
    grid-template-columns: repeat(4, 1frs);

} */